[submodule "hmse-job-utils"]
	path = hmse_job_utils
	url = git@github.com:WaterlinePL/hmse_job_utils.git
[submodule "hmse_projects"]
	path = hmse_projects
	url = git@github.com:WaterlinePL/hmse_projects.git
